@{
    ViewData["Title"] = "Créditos";
}

<h1>Créditos</h1>
<hr />
<div class="row">
    <ul>
        <li>
            <h3><strong>Gabriel Chaves CB302024X</strong></h3>
        </li>
        <li>
            <h3><strong>Caroline Ribeiro CB3021271</></h3>
        </li>
    </ul>
</div>